/* estilosProfile.css */
.imagen-circular {
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  

  .card .name {
    text-align: center;
  }
  
  .card .card-text {
    text-align: center;
  }
  
  .container {
    display: flex;
    align-items: flex-start; /* Alinear los contenedores al inicio del eje vertical */
  }
  
  .profile-container {
    width: 200px; /* Ancho fijo del contenedor del perfil */
  }
  
  .zonas-container {
    flex-grow: 1; /* Hace que el contenedor de zonas ocupe todo el espacio restante */
    margin-left: 20px; /* Espacio entre el perfil y las zonas */
    display: none; /* Oculta inicialmente el contenedor de zonas */
  }
  
  
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }


  

  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  